/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  /* --body-color: #e4e9f7; */
  --body-color: #fff;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  overflow-x: hidden;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  /* width: 88px; */
  width: 90px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}
.menu-bar .menu-links {
  padding-left: 0;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
    position: absolute;
    top: 0;
    padding-left: 50px;
     padding-right: 50px;
   /* left: 50px;*/
   /* right: 50px;*/
    /* height: 100vh; */
     width:100% ;/*calc(100% - 250px);*/
    background-color: var(--body-color);
    transition: var(--tran-05);    
}

/*.homeAl{
    width: 100%;
    margin: 0 auto;     
}*/

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  
    /*left: 78px; 
 
  width: calc(100% - 78px);*/
}
body.dark .home .text {
  color: var(--text-color);
}
body.dark .home .dark_text_color {
  color: #fff !important;
}
body.dark .home .dark_text_color_two {
  color: #ccc !important;
}

/* my code */
.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #272727;
}

.hero {
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 25px;
}
.hero .form-select {
  border: 1px solid #ffffff;
}
.hero .input-group-text {
  background: #ffffff !important;
  border: 1px solid #ffffff;
  border-radius: 40px;
}
.hero .input-group {
  height: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hero_btn {
  background: #ffffff !important;
  border-radius: 30px !important;
  margin-right: 10px;
}

/* recent */
.recent {
  margin-top: 40px;
}

.recent .read_box {
  padding: 30px;
}
.recent .read_box h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: gray;
}
.recent .read_box h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}
.recent .read_box {
  border: 1px solid #ebeef0;
  border-radius: 5px;
  margin-bottom: 20px;
}
.recent .surah_name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}
.recent .ayah {
  background-color: #f4f5f6;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  border-radius: 7px;
}
.recent .read_box:hover {
  border: 1px solid #3498db;
  transition: 0.3s ease-in-out;
}

/* !recent */

/* surah */
.surah {
  margin-top: 25px;
}
.surah .surah_box {
  border: 1px solid #ebeef0;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.2s ease;
  cursor: pointer;
}
.surah .index_box {
  height: 35px;
  width: 35px;
  background-color: #f4f5f6;
  /* background: #3498db; */
  transform: rotate(45deg);
  text-align: center;
}
.surah .index_box .index_number {
  transform: rotate(-45deg);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #272727;
  display: flex;
  margin-left: 10px;
  align-items: center;
  padding-top: 7px;
}
.surah_name h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #272727;
}
.surah_box h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: #666666;
}

.surah .surah_box:hover {
  /* background-color: #3498db; */
  border: 1px solid #2ca4ab;
}

.surah .surah_box:hover .index_box {
  background-color: #2ca4ab;
}
.surah .surah_box:hover .index_number {
  color: #fff !important;
}
.surah .surah_box:hover h6 {
  color: #2ca4ab !important;
}
/* !surah */

/* details */
/* .details .details_icon .icon_btn {
  color: #666666;
  border-radius: 50%;
  margin-left: 10px;
} */

.details {
  margin-top: 80px;
}
.details .details_box {
  margin-bottom: 50px;
}
.details .details_icon .icon_btn {
  color: #666666;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 10px;
}
.details .details_icon .icon_btn:hover {
  background-color: #2ca4ab40;
  color: #fff;
  border-radius: 50%;
}
.arabic_sentence {
  font-size: 42px;
  line-height: 1.2;
}
.ArabicWordBlock:hover {
    background-color: #2ca4ab;
}
/*.arabic_sentence:hover {
  color: #2ca4ab;
}*/
.details .onubad {
    padding-left: 9%;
   /* margin-top: -200px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}
.details .onubad h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #272727;
}
.details .onubad .writer_name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #666666;
}
.details .onubad .bangla {
  margin-top: 50px;
  margin-bottom: 50px;
}
.details .onubad .azerbijan {
  margin-bottom: 50px;
}
.details .arabic_sentence {
  margin-bottom: 3px;
}

/* !details */

/* !my code */

@media screen and (max-width: 999px) {

    .sidebar.close {
        height: 80px;
        background: transparent !important;
    }
  .hero_btn {
    margin-bottom: 15px;
  }
  .hero_img {
    width: 50% !important;
  }
  .many_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .details .onubad {
    padding-left: 9%;
    margin-top: 0px;
  }
  .arabic_sentence {
    text-align: end;
  }
}

.btn-group button {
    /*background-color: #04AA6D; */ /* Green background */
    border: 1px solid green; /* Green border */
    /*color: white;*/ /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 100%;
    font-weight: bold;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    /* background-color: #DFC555;*/
}

.WordSpelling {
    padding-top: 8px;
}
.WordTranslation {
    padding-top: 6px;
}